<div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-12">
        <form id="contact-form" action="#0" class="ae-form--full">
            <input type="text" placeholder="* Name" required>
            <input type="email" placeholder="* Email" required>
            <textarea placeholder="Message ..." cols="30" rows="4"></textarea>
            <p class="au-xs-ta-right au-pt-4 group-buttons"><a href="#0" class="arrow-button arrow-button--right arrow-button--out">Send<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></p>
        </form>
    </div>