<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{year}} Gnesh </span>All Right Reserved.</p>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center" id="redes">
            <a target="blank" [href]="infoPaginaService.info.facebook" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
                </svg>
            </a>
            <a target="blank" [href]="infoPaginaService.info.twitter" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>